.App {
    /* background-color: red; */
    width: fit-content;
    margin: 30px auto;
    text-align: center;
}
.navlink a {
    text-decoration: none;
    background-color: rgb(0, 186, 248);
    border: 1px #000 solid;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
}
.home-link {
    margin-right: 10px;
}
.blogs {
    display: flex;
    width: 400px;
    /* background-color: green; */
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    /* text-align: center; */
    margin-bottom: 20px;
}